{% extends "registration/base.html" %}

{% block head %}
{{ block.super}}
{{form.media}}
<script>
  $(document).ready(function () {
  $(".datePicker" ).datepicker();
  });
</script>

{% endblock head %}
{% load i18n %}

{% block content %}
<form method="post" action=".">
  {% csrf_token %}
  {{ form.as_p }}

  <input type="submit" value="{% trans 'Submit' %}" />
</form>
{% endblock %}
