{% block head %}
{{ super.head }}
{{ form.media }}

<script type="text/javascript">
  $(document).ready(function() {
  var type = $('<input type="date" />').attr('type');
  if (type == 'text') { // No HTML5 support
  var options = {
  dateFormat: 'yy-mm-dd'
  };
  $('#{{ form.attrs.id }}').datepicker(options);
  }
  });
</script>
{% endblock head %}

<form method="post" action={{url}}>
  {% csrf_token %}
  {{ form.as_p }}
  <p><input type="submit" value="Submit"></p>
</form>
