{% load i18n %}
{% load dajaxice_templatetags %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  
  <head>
    {% dajaxice_js_import "{{ STATIC_URL}js/dajaxice.core.js" %}
    {% block head %}
    <link href="{{ STATIC_URL }}css/style.css" rel="stylesheet" type="text/css"/>  
    {% endblock head %}
    <title>{% block title %}Liquorfox{% endblock title %}</title>
  </head>
  
  <body>
    <header>
      {% block header %}
      {% block banner %}
      <div id="wrap">
	<a href="{% url landing %}" id="liquorfox">
	  <img src="{{ STATIC_URL }}img/layout/logo.png" alt="LiquorFox" style="height: 72px;"/>
	</a>
	{% endblock banner %}
	{% block header_middle %}
	{% endblock header_middle %}
	<nav id="top_menu">
	{% block signin %}

	  <ul>
	    {% if user.is_authenticated %}
	    <li>
	      <a href="{% url userena_profile_detail user.username %}">Welcome {{ user.username }}
	      </a>
	      {% comment %}<a href="{% url socialauth_begin 'facebook' %}">Login with Facebook</a>
	      <a href="{% url socialauth_begin 'github' %}">Login with Github</a>
	      {% endcomment %}

	    </li>
	    <li>
	      <a href="{% url userena_signout %}">{% trans "Log out" %}</a> 
	    </li>
	    {% else %}
	    <li>
              <a href="{%url userena_signin%}">Sign In</a>
            </li>
            <li>
              <a href="{%url userena_signup%}">Sign Up</a>
            </li>
	    {% endif %}
	  </ul>
	</nav>
	{% endblock signin %}
      </div>
      
      {% endblock header%}
    </header>
    {% block content %}
    {% endblock content %}
    {% block footer %}
    {% endblock footer %}
  </body>
</html>
