<div id="results_listing">
  {% if beverages %}
  {% for bev in beverages %}
  <li><a href="/beverage/{{bev.pk}}/">{{bev.name}}</a></li>
  <p>{{bev.description}}</p>
  {% endfor %}
  
  {% else %}
  <p>No Beverages matched<p>
  {% endif %}
</div>
