body
{background: #FFFFFF; font-family: Arial, Helvetica, sans-serif; color: #999999; font-size: 10px; margin: 0px; padding: 0px;}

h1, p, ul, ol, img
{margin: 0px; padding: 0px;}

a
{text-decoration: underline; color:#000000; }
a:hover
{text-decoration: none; color:#000000;}

#wrap
{width: 900px; margin: auto; min-height: 100%; height: auto !important;}

.search
{width: 350px; display:inline;  position:absolute; top:5%; right: 35%}

input.searchbar
{-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; border: 1px solid #cccccc; font-size: 12px;;
height: 30px; width: 300px;}
input.gobutton
{-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; border: 1px solid #cccccc; height: 30px; width: 30px;}

header
{padding: 10px; background-color: #353535; height: 60px;}

header a
{text-decoration: none; color:#FFFFFF; }

#liquorfox
{width: 100px; float: left;}

#top_menu
{float: right;  height: 40px; margin-top: 20px;}

#top_menu ul
{position: relative; top:20%; list-style: none outside none;}

#top_menu ul li
{display: inline; margin-right: 20px;}


.body
{width: 900px; margin: auto;}

.body input
{background: #FFFFFF; color: #000000; font-size: 10px; border: 1px black solid; margin-top: 10px;}


.footer
{}