<html>
<head>
	<title>Liquorfox</title>
	<link rel="stylesheet" href="{{ STATIC_URL }}css/index.css" type="text/css" media="screen"/>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/sliding.form.js"></script>
</head>
<body>
	<div id="wrap">
    <img id="logo" src="{{ STATIC_URL }}img/layout/logo.png" alt="Liquorfox">

        <div id="content">
            <div id="wrapper">
                <div id="steps">

                    <form  id="formElem" name="formElem" action="{%url landing %}" method="post">
		      {% csrf_token %}
                        <fieldset class="step">

                            
                            <img src="{{ STATIC_URL }}img/layout/step1.png" style="margin-right: 40px;" alt="Step 1" />
<img src="{{ STATIC_URL }}img/layout/step1a.png" alt="Are you over 21 years old?" />
<p>
<input class="ageverif" type="submit" value="YES" class="button continue" style="float: left;" />
<input class="ageverif" type="submit" value="NO" onClick="location.href='https://www.google.com/index.html'" style="float: left;" />
</p>
<img src="{{ STATIC_URL }}img/layout/step1b.png" alt="To visit Liquorfox you must be of legal drinking age in the country you live in." />
                        </fieldset>

                        <fieldset class="step">
                            <img src="{{ STATIC_URL }}img/layout/step2.png" style="margin-right: 40px;" alt="Step 2" />
<img src="{{ STATIC_URL }}img/layout/step2a.png" alt="Enter Your Email" />
                            <p>
                                <input id="email" name="email" type="text" AUTOCOMPLETE=OFF />
                            </p>
                        </fieldset>
                        
                        <fieldset class="step">
                            <img src="{{ STATIC_URL }}img/layout/step3.png" style="margin-right: 40px;" alt="Step 3" />
<img src="{{ STATIC_URL }}img/layout/step3a.png" alt="Enter Your Address and See What's Available Around You" />
                            <p>
                                <label for="address">Address 1</label>
                                <input id="address" name="address" type="text" AUTOCOMPLETE=OFF />
                            </p>
                            <p>
                                <label for="city">City</label>
                                <input id="city" name="city" type="radio" AUTOCOMPLETE="OFF" />
                                New York, New York
                            </p>
                           
                        </fieldset>
                        <fieldset class="step">
                            <img src="{{ STATIC_URL }}img/layout/step4.png" style="margin-right: 40px;" alt="Step 4" />
<img src="{{ STATIC_URL }}img/layout/step4a.png" alt="Do You Want to Register?" />
                            <p>
                                <label for="register">Create an account?
                                </label>
                                <select id="register" name="register">
                                    <option value="yes" selected>Yes</option>
                                    <option value="No">No</option>
                                </select>
                            </p>
<img src="{{ STATIC_URL }}img/layout/step4b.png" alt="By signing up, you don't have to fill this out again." />
                        </fieldset>
						<fieldset class="step">

<img src="{{ STATIC_URL }}img/layout/step5.png" style="margin-right: 40px;" alt="Step 5" />
<img src="{{ STATIC_URL }}img/layout/step5a.png" alt="Confirm" />
							<p>
								If there is a red checkmark icon, please fill in the missing or invalid information. Otherwise, submit!
							</p>
                            <p class="submit">
                                <button id="registerButton" type="submit">Submit</button>
                            </p>
                        </fieldset>
                    </form>
                </div>
                <div id="navigation" style="display:none;">
                    <ul>
                        <li class="selected">
                            <a href="#">Legal Age</a>
                        </li>
                        <li>
                            <a href="#">Email</a>
                        </li>
                        <li>
                            <a href="#">Address</a>
                        </li>
                        <li>
                            <a href="#">Register</a>
                        </li>
						<li>
                            <a href="#">Confirm</a>
                        </li>
                    </ul>
                </div>
<a href="{% url userena_signin %}">Sign In</a>
            </div>
        	</div>
            </div>
    </body>
</html>
