<!DOCTYPE html>
<html lang="en">
  <head>
    <title>jQuery UI CoverFlow 2.2</title>
    
    <!-- Include theme -->
    <link type="text/css" href="{{STATIC_URL}}css/jquery-ui-1.8.5.custom.css" rel="Stylesheet" />
    
    <!-- Include jQuery and UI -->
    <script type="text/javascript" src="{{STATIC_URL}}js/jquery-1.7.1.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/jquery-ui-1.8.9.custom.min.js"></script>
    <script src="{{STATIC_URL}}js/jquery-css-transform.js" type="text/javascript"></script>
    <script src="{{STATIC_URL}}js/jquery-animate-css-rotate-scale.js" type="text/javascript"></script>
    
    <!-- Include jQuery CoverFlow widget -->
    <script type="text/javascript" src="{{STATIC_URL}}js/ui.coverflow.js"></script>

    <link type="text/css" href="{{STATIC_URL}}css/demos.css" rel="stylesheet" />
    <link type="text/css" href="{{STATIC_URL}}css/flip.css" rel="stylesheet" />	
    <!-- Transformie is a plugin that makes webkit's CSS transforms work in Internet Explorer -->
    <script src="{{STATIC_URL}}js/sylvester.js" type="text/javascript"></script>
    <script src="{{STATIC_URL}}js/transformie.js" type="text/javascript"></script>
    
    <!-- Include mousewheel dependancies and app files -->
    <script src="{{STATIC_URL}}js/jquery.mousewheel.js" type="text/javascript"></script>
    <script src="{{STATIC_URL}}js/app.js" type="text/javascript"></script>
    <script type="text/javascript">
      
      
      $(function(){	
      
      var demo = {

      yScroll: function(wrapper, scrollable) {

      var wrapper = $(wrapper), scrollable = $(scrollable),
      loading = $('<div class="loading">Loading...</div>').appendTo(wrapper),
      internal = null,
      images	= null;
      scrollable.hide();
      images = scrollable.find('.container');
      completed = 0;
      
      images.each(function(){
      if (this.complete) completed++;	
      });
      
      if (completed == images.length){
      setTimeout(function(){							
      loading.hide();
      wrapper.css({overflow: 'hidden'});						
      scrollable.slideDown('slow', function(){
      enable();	
      });					
      }, 0);	
      }
      
      
      function enable(){
      var inactiveMargin = 99,
      wrapperWidth = wrapper.width(),
      wrapperHeight = wrapper.height(),
      scrollableHeight = scrollable.outerHeight() + 2*inactiveMargin,
      wrapperOffset = 0,
      top = 0,
      lastTarget = null;

      
      wrapper.mousemove(function(e){
      lastTarget = e.target;
      wrapperOffset = wrapper.offset();		
      top = (e.pageY -  wrapperOffset.top) * (scrollableHeight - wrapperHeight) / wrapperHeight - inactiveMargin;
      if (top < 0){
		top = 0;
		}			
		wrapper.scrollTop(top);
		});	
		}			
		}
		}

		
		demo.yScroll('#scroll-pane', 'ul#sortable');

		});
		</script>
    

  </head>
  <body>


    <div id="findme" style="display: none;">
      <div class="container megatron" >
	<div class="card">
	  <div class="face front">
	    <img src="{{STATIC_URL}}img/kingsofleon-comearoundsunshine.jpg" data-artist="Kings Of Leon" data-album="Come Around Sunshine"/>
	  </div>
	  <div class="face back">
	    <p>Spettacolo!</p>
	  </div>
	</div>
      </div>
    </div>
    
    <div class="pageWrapper">
      <h1>Vetrina interattiva</h1>
      <div class="demo">

	<div class="wrapper">
	  <div id="coverflow">
	    
	    <div id="findme" class="container megatron">
	      <div class="card">
		<div class="face front">
		  <img src="{{STATIC_URL}}img/gorillaz-plasticbeach.jpg" data-artist="Gorillaz" data-album="Plastic Beach"/>
		</div>
		<div class="face back">
		  <p></p>
		</div>
	      </div>
	    </div>
	    

	    <div class="container megatron">
	      <div class="card">
		<div class="face front">
		  <img src="{{STATIC_URL}}img/kidrock-bornfree.jpg" data-artist="Kid Rock" data-album="Born Free"/>
		</div>
		<div class="face back">
		  <p>Spettacolo!</p>
		</div>
	      </div>
	    </div>

	    <div class="container megatron">
	      <div class="card">
		<div class="face front">
		  <img src="{{STATIC_URL}}img/recovery-recovery.jpg" data-artist="Eminem" data-album="Recovery"/>
		</div>
		<div class="face back">
		  <p>Spettacolo!</p>
		</div>
	      </div>
	    </div>
	    <div class="container megatron">
	      <div class="card">
		<div class="face front">
		  <img src="{{STATIC_URL}}img/lilwayne-iamnotahumanbeing.jpg" data-artist="Lil Wayne" data-album="I Am Not A Human Being"/>
		</div>
		<div class="face back">
		  <p>Spettacolo!</p>
		</div>
	      </div>
	    </div>
	    
	    <div class="container megatron">
	      <div class="card">
		<div class="face front">
		  <img src="{{STATIC_URL}}img/maroon5-handsallover.jpg" data-artist="Maroon 5" data-album="Hands All Over"/>
		</div>
		<div class="face back">
		  <p>Spettacolo!</p>
		</div>
	      </div>
	    </div>

	    <div class="container megatron">
	      <div class="card">
		<div class="face front">
		  <img src="{{STATIC_URL}}img/mychemicalromance-dangerdays.jpg" data-artist="My Chemical Romance" data-album="Danger Days"/>
		</div>
		<div class="face back">
		  <p>Spettacolo!</p>
		</div>
	      </div>
	    </div>

	    <div class="container megatron">
	      <div class="card">
		<div class="face front">
		  <img src="{{STATIC_URL}}img/ironmaiden-thefinalfrontier.jpg" data-artist="Iron Maiden" data-album="The Final Frontier"/>
		</div>
		<div class="face back">
		  <p>Spettacolo!</p>
		</div>
	      </div>
	    </div>

	    <div class="container megatron">
	      <div class="card">
		<div class="face front">
		  <img src="{{STATIC_URL}}img/order of the black - black label society.jpg" data-artist="Order Of The Black" data-album="Black Label Society"/>
		</div>
		<div class="face back">
		  <p>Spettacolo!</p>
		</div>
	      </div>
	    </div>
	    
	    <div class="container megatron">
	      <div class="card">
		<div class="face front">
		  <img src="{{STATIC_URL}}img/usher-raymondvraymond.jpg" data-artist="Usher" data-album="Raymond V Raymond"/>
		</div>
		<div class="face back">
		  <p>Spettacolo!</p>
		</div>
	      </div>
	    </div>
	  </div>
	</div>

	<div id="imageCaption">
	  Sample Text
	</div>


	<div id='slider'></div>
      </div>


      <div class="demo-description">
      </div>

      <!--<div class="listholder">
	  <div id="scroll-pane">
	    <ul id="sortable"> 
	    </ul>
	  </div>

	  <div id="slider-wrap">
	    <div id="slider-vertical"></div>
	  </div>
      </div>-->

      <!--<div class="pageInfo"> 
	  Interaction supported: Cover-click, Slider, Playlist-click, Bi-Directional Keyboard Navigation, Mouse-Slide, MouseWheel.
	  
	  
	  <div style="margin-top: 20px; padding: 0pt 0.7em;" class="ui-state-highlight ui-corner-all"> 
	    <p><span style="float: left; margin-right: 0.3em;" class="ui-icon ui-icon-info"></span>
	      Compatible with jQueryUI 1.8.9 and jQuery 1.6.2+
	    </p>
	  </div>-->
      
      
    </div>


</div>




</body>
</html>
