{% extends "base.html" %}
{% block title %}
Edit Profile
{% endblock %}

{% block content_title%}
<h1>Edit {{User}}'s Profile</h1>
{% endblock content_title%}
{% block content %}

<form method="POST" action="">
  {{ form.as_p }}
  <input type="submit" name="submit" value="Update" id="submit">
</form>
{% endblock content %}
